.home {
	display: flex;
	flex-direction: column;
	height: 85vh;
	background-image: linear-gradient(#e8e9f0, #1333d0);
	/* background-image: linear-gradient(#1333d0, #ff0000); */
	/* background-image: linear-gradient(red, yellow); */
}

.home__line1 {
	padding-left: 90px;
	padding-top: 0;
	font-size: 100px;
}

.home__line2 {
	padding-top: 0;
	font-size: 100px;
	padding-left: 44%;
}
.home__line3 {
	padding-left: 150px;
	font-size: 150px;
	font-weight: 800;
	padding-top: 200px;
	color: #1333d0;
	animation-name: one;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes one {
	from {
		color: #1333d0;
	}
	to {
		color: #ff0000;
	}
}
