.login {
	margin-top: 200px;
	display: flex;
	justify-content: center;
}

.login__input {
	display: flex;
	flex-direction: column;
	padding: 20px;
	width: 200px;
	background-color: #1333d0;
	border-radius: 50px;
	align-items: center;
}

label {
	padding: 20px;
	color: white;
}

.login__button {
	display: flex;
	justify-content: center;
	background-color: #1333d0;
	width: 50px;
	border-radius: 50px;
	color: white;
	padding: 5px;
	text-decoration: none;
	margin-top: 10px;
	margin-left: 90px;
}
